tcc2/template-texto/novoIndex.aux
tcc2/template-texto/novoIndex.fdb_latexmk
tcc2/template-texto/novoIndex.fls
tcc2/template-texto/novoIndex.log
tcc2/template-texto/novoIndex.synctex.gz
tcc2/template-texto/novoIndex.bbl
tcc2/template-texto/novoIndex.blg
tcc2/template-texto/novoIndex.lof
tcc2/template-texto/novoIndex.lop
tcc2/template-texto/novoIndex.lot
tcc2/template-texto/novoIndex.out
tcc2/template-texto/novoIndex.toc
tcc2/template-texto/files/tabela-sintetiza.aux
tcc2/template-texto/files/tabela-sintetiza.fdb_latexmk
tcc2/template-texto/files/tabela-sintetiza.fls
tcc2/template-texto/files/tabela-sintetiza.log
